* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fafafa;
  font-family: monospace;
}

body {
  background-color: #20252C;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.game .square {
  border: 2px solid #fafafa;
  cursor: pointer;
}

.turns .square {
  height: 80px;
  width: 80px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fafafa;
}

.winner .square {
  border: 2px solid #fafafa;
}

@media (width < 320px) {
  .game .square {
    height: 70px;
    width: 70px;
  }
}